---
public_bosh_ip: FLOATING-IP
private_network_cidr: PRIVATE-CIDR
private_network_uuid: NETWORK-UUID
private_network_dns: DNS-IP-LIST
private_network_gateway: PRIVATE-GATEWAY-IP
private_bosh_ip: PRIVATE-IP
openstack_auth_url: IDENTITY-API-ENDPOINT
openstack_domain: OPENSTACK-DOMAIN
openstack_project: OPENSTACK-PROJECT
openstack_username: OPENSTACK-USERNAME
openstack_password: OPENSTACK-PASSWORD
